
		/* Larger screens */
		/* @media only screen and (min-width 728px)
		{
			.container {
			}
		}

		Small screens
		@media only screen and (max-width 600px)
		{
			.container {
				min-width: 450px;
			}
		} */

		/* Small screens */
		@media screen and (max-width: 768px)
		{
			.container {
				padding: 3rem 1rem 0rem 1rem !important;
				zoom: 100%;
				justify-content:center;
			}

			input[type="search"]{
				font-size: 14px !important;
			}

			label {
				width: 50%;
			}

			#kz {
				height: 50px;
				padding: 18px 40px 0px;
			}

			.card-container .pro, .ban, .racs {
				font-size: 10px !important;
				/* left: 10px !important; */
			}

			.card-container .adm {
				font-size: 10px !important;
				/* right: 10px !important; */
			}

			[text-hidden="true"] {
				opacity: 0;
				position: absolute;
				z-index: -9999;
				pointer-events: none;
			}

		}

		.tooltip {
			position: relative;
			display: inline-block;
		}

		.tooltip .tooltiptext {
			visibility: hidden;
			width: 120px;
			background-color: black;
			color: #fff;
			text-align: center;
			border-radius: 6px;
			padding: 10px 0;
			
			/* Position the tooltip */
			position: absolute;
			z-index: 1;
			font-size: 14px;
			margin: 10px;
		}
		
		.tooltip:hover .tooltiptext {
			visibility: visible;
		}

		[text-hidden="true"] {
			opacity: 0;
			position: absolute;
			z-index: -9999;
			pointer-events: none;
		}

		/* NEW LVL SHIT */

		.new-badge {
			padding: 0;
			width: 40px;
			height: 40px;
			display: inline-block;
			position: relative;
			cursor: default;
		}

		.lvl-value {
			font-family: Poppins;
			font-size: 20px;
			font-weight: 700;
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			width: 40px;
			height: 40px;
			text-align: center;
			line-height: 40px;
			text-shadow: 1px 1px 1px rgba(0,0,0,.4);
			z-index: 45;
		}
	
		.new-level-20 {
			border-radius: 50%;
			-webkit-animation-name: redPulse;
			-webkit-animation-duration: 1.5s;
			-webkit-animation-iteration-count: infinite;
		}
		
		@import url('https://fonts.googleapis.com/css?family=Montserrat');
		@import url('https://fonts.googleapis.com/css?family=Poppins');
	
		* {
			box-sizing: border-box;
		}

		.wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.container {
			padding: 2rem 3rem;
			zoom: 125%;
		}

		input[type="search"] {
			-webkit-appearance: none !important;
			background-clip: padding-box;
			background-color: white;
			vertical-align: middle;
			border-radius: 0.25rem;
			border: 1px solid #e0e0e5;
			font-size: 1rem;
			width: 100%;
			line-height: 2;
			padding: 0.375rem 10px;
			-webkit-transition: border-color 0.2s;
			-moz-transition: border-color 0.2s;
			transition: border-color 0.2s;
		}

		form.search-form {
			display: flex;
			justify-content: center;
			padding-bottom: 5px;
		}

		label {
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: auto;
			align-self: center;
			margin-bottom: 0;
		}

		input.search-field {
			margin-bottom: 0;
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: auto;
			align-self: center;
			height: 31px;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		input:focus {
			outline: none;
		}

		.textarea { resize: none; }

		.textarea:focus{
			outline: none;
		}

		input.search-submit {
			height: 31px;
			margin: 0;
			/* padding: 1rem 1.3rem; */
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-top-right-radius: 0.25rem;
			border-bottom-right-radius: 0.25rem;
			font-family: "Font Awesome 5 Free";
			content: '\f002';
			font-size: 1rem;
		}

		.screen-reader-text {
			clip: rect(1px, 1px, 1px, 1px);
			position: absolute !important;
			height: 1px;
			width: 1px;
			overflow: hidden;
		}

		.btn {
			display: inline-block;
			font-weight: 600;
			font-size: 0.8rem;
			line-height: 1.15;
			letter-spacing: 0.1rem;
			text-transform: uppercase;
			background: #f9d342;
			color: #292826;
			border: 1px solid transparent;
			vertical-align: middle;
			text-shadow: none;
			-webkit-transition: all 0.2s;
			-moz-transition: all 0.2s;
			transition: all 0.2s;
		}

		.btn:hover,
		.btn:active,
		.btn:focus {
			cursor: pointer;
			background: #d4b743;
			color: #292826;
			outline: 0;
		}
	
		.card-base-country {
			width: 21px;
			height: 21px;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
		}
	
		.numberCircle 
		{
			width: 36px;
			height: 36px;
			font-size: 17px;
			line-height: 36px;
			//border: 1px solid hsla(0,0%,100%,.2);
			//background-color: #91b20a;
			text-shadow: 0 1px 0 rgba(0,0,0,.5);
			border-radius: 100%;
			padding: 0;
			min-width: auto;
			color: #efefef;
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-inline-box;
			-webkit-box-align: center;
			-ms-flex-align: center;
			align-items: center;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			justify-content: center;
			margin: 1px;
		}
	
		.animate-bottom {
			position: relative;
			-webkit-animation-name: animatebottom;
			-webkit-animation-duration: 1s;
			animation-name: animatebottom;
			animation-duration: 1s
		}
	
		@-webkit-keyframes animatebottom {
			from { bottom:-100px; opacity:0 } 
			to { bottom:0px; opacity:1 }
		}
	
		@keyframes animatebottom { 
			from{ bottom:-100px; opacity:0 } 
			to{ bottom:0; opacity:1 }
		}
	
		body {
			background-color: #28223F;
			font-family: Poppins, Montserrat, sans-serif;
			
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
	
			/* min-height: 50vh; */
			margin: 0;
			-webkit-font-smoothing: antialiased;
		}
	
		.banido {
			text-decoration: line-through;
			color: red;
		}	
	
		h3 {
			margin-top: 75px;
			padding-bottom: 0px;
			color: #fff;
		}
	
		h6 {
			margin: 5px 0;
			text-transform: uppercase;
		}
	
		p {
			font-size: 14px;
			line-height: 21px;
		}


	
		.card-container {
			/* 231E39 */
			background-color: #17141d; 
			border-radius: 5px;
			padding: 1.5rem;
			box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
			color: #B3B8CD;
			position: relative;
			align-items: center;
			display: flex;
			flex-direction: column;
			max-width: 100%;
			text-align: center;
			margin-top: 50px;
		}
	
		.card-container .pro {
			color: #fff;
			background-color: rebeccapurple;
			border-radius: 3px;
			font-size: 14px;
			font-weight: bold;
			padding: 3px 7px;
			position: absolute;
			top: 30px;
			left: 30px;
		}

		.card-container .adm {
			color: #fff;
			background-color: #154D28;
			border-radius: 3px;
			font-size: 14px;
			font-weight: bold;
			padding: 3px 7px;
			position: absolute;
			top: 30px;
			right: 30px;
		}
	
		.card-container .ban {
			color: #fff;
			background-color: red;
			border-radius: 3px;
			font-size: 14px;
			font-weight: bold;
			padding: 3px 7px;
			position: absolute;
			top: 30px;
			left: 30px;
		}
	
		.card-container .racs {
			color: #fff;
			background-color: black;
			border-radius: 3px;
			font-size: 14px;
			font-weight: bold;
			padding: 3px 7px;
			position: absolute;
			top: 30px;
			left: 30px;
		}
	
		.card-container .round {
			width: 125px;
			height: 125px;
			display: block;
			position: absolute;
			top: -35px;
			left: 50%;
			transform: translateX(-50%);
			border-radius: 50%;
			/* padding: 7px; */
			border: solid 2px #92aa00;
		}
	
		button.primary {
			background-color: rgb(173 255 47 / .5);
			border: 1px solid greenyellow;
			border-radius: 3px;
			color: #fff;
			font-family: Montserrat, sans-serif;
			font-weight: 500;
			padding: 10px 25px;
		}
	
		button.primary.ghost {
			background-color: #9c021c;
			color: #fff;
			border: 1px solid #9c021c;
		}
	
		button:focus
		{
			outline: none;
			box-shadow: none;
		}
	
		.skills {
			background-color: transparent;
			text-align: left;
			padding: 15px;
			margin-top: 30px;
			border-bottom-right-radius: 5px;
			border-bottom-left-radius: 5px;
		}
		
		footer {
			/* background-color: #222; */
			color: #fff;
			font-size: 14px;
			bottom: 0;
			position: fixed;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 999;
			margin-bottom: 25px;
		}
	
		footer p {
			margin: 10px 0;
		}
	
		footer i {
			color: red;
		}
	
		footer a {
			color: #3c97bf;
			text-decoration: none;
		}
	
	
		.badge {
			border: 1px solid rgba(255, 255, 255, 0.2);
			-webkit-border-radius: 100%;
			-moz-border-radius: 100%;
			border-radius: 100%;
			text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
			box-shadow: 0 5px 3px 0 rgba(0, 0, 0, 0.15);
			width: 36px;
			height: 36px;
			font-size: 17px;
			line-height: 36px;
			border-radius: 100%;
			padding: 0;
			min-width: auto;
			text-align: center;
			position: relative;
	
			&--lite,
			&--lite.badge-level-20,
			&--lite.level-20 {
				text-shadow: none;
				box-shadow: none;
			}
		}
	
		.level-0 {
			background-color: transparent;
			border: 1px solid #4D4757;
		}
	
		.badge-level-1 {
			background-color: #643284;
		}
	
		.badge-level-2 {
			background-color: #5c2d84;
		}
	
		.badge-level-3 {
			background-color: #532883;
		}
	
		.badge-level-4 {
			background-color: #492381;
		}
	
		.badge-level-5 {
			background-color: #402686;
		}
	
		.badge-level-6 {
			background-color: #2d3a8a;
		}
	
		.badge-level-7 {
			background-color: #2967b0;
		}
	
		.badge-level-8 {
			background-color: #2967b0;
		}
	
		.badge-level-9 {
			background-color: #2a7bc2;
		}
	
		.badge-level-10 {
			background-color: #2a8acc;
		}
	
		.badge-level-11 {
			background-color: #3e9cb7;
		}
	
		.badge-level-12 {
			background-color: #53a18b;
		}
	
		.badge-level-13 {
			background-color: #68a761;
		}
	
		.badge-level-14 {
			background-color: #7cac35;
		}
	
		.badge-level-15 {
			//color: #1C3F00!important;
			background-color: #91b20a;
		}
	
		.badge-level-16 {
			//color: #6B2209!important;
			background-color: #bdb700;
		}
	
		.badge-level-17 {
			//color: #481602!important;
			background-color: #f0bc00;
		}
	
		.badge-level-18 {
			background-color: #f89a06;
		}
	
		.badge-level-19 {
			background-color: #f46e12;
		}
	
		.badge-level-20 {
			background-color: #eb2f2f;
			box-shadow: 0 0 9px rgba(255, 5, 0, 1);
			border: 1px solid rgba(255, 255, 255, .11);
			-webkit-animation-name: redPulse;
			-webkit-animation-duration: 1.5s;
			-webkit-animation-iteration-count: infinite;
			-moz-animation-name: redPulse;
			-moz-animation-duration: 1.5s;
			-moz-animation-iteration-count: infinite;
			animation-name: redPulse;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
		}
	
		@-webkit-keyframes redPulse {
			from {
				-webkit-box-shadow: 0 0 9px rgba(255, 5, 0, 1);
				-moz-box-shadow: 0 0 9px rgba(255, 5, 0, 1);
				box-shadow: 0 0 9px rgba(255, 5, 0, 1);
			}
	
			50% {
				-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
				-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
				box-shadow: 0 0 0 rgba(0, 0, 0, 0);
			}
	
			to {
				-webkit-box-shadow: 0 0 9px rgba(255, 5, 0, 1);
				-moz-box-shadow: 0 0 9px rgba(255, 5, 0, 1);
				box-shadow: 0 0 9px rgba(255, 5, 0, 1);
			}
		}
	
		.level-1 {
			background-color: #643284 !important;
		}
	
		.level-2 {
			background-color: #5c2d84;
		}
	
		.level-3 {
			background-color: #532883;
		}
	
		.level-4 {
			background-color: #492381;
		}
	
		.level-5 {
			background-color: #402686;
		}
	
		.level-6 {
			background-color: #2d3a8a;
		}
	
		.level-7 {
			background-color: #2967b0;
		}
	
		.level-8 {
			background-color: #2967b0;
		}
	
		.level-9 {
			background-color: #2a7bc2;
		}
	
		.level-10 {
			background-color: #2a8acc;
		}
	
		.level-11 {
			background-color: #3e9cb7;
		}
	
		.level-12 {
			background-color: #53a18b;
		}
	
		.level-13 {
			background-color: #68a761;
		}
	
		.level-14 {
			background-color: #7cac35;
		}
	
		.level-15 {
			//color: #1C3F00!important;
			background-color: #91b20a;
		}
	
		.level-16 {
			//color: #6B2209!important;
			background-color: #bdb700;
		}
	
		.level-17 {
			//color: #481602!important;
			background-color: #f0bc00;
		}
	
		.level-18 {
			background-color: #f89a06;
		}
	
		.level-19 {
			background-color: #f46e12;
		}
	
		.level-20 {
			background: #eb2f2f;
			box-shadow: 0 0 4px rgba(255, 0, 07, .8);
			border: 1px solid #910200;
			// -webkit-animation-name: redPulse;
			// -webkit-animation-duration: 1.5s;
			// -webkit-animation-iteration-count: infinite;
		}
	
		.level-1-borda {
			border: 1px solid #643284;
		}
	
		.level-2-borda {
			border: 1px solid #5c2d84;
		}
	
		.level-3-borda {
			border: 1px solid #532883;
		}
	
		.level-4-borda {
			border: 1px solid #492381;
		}
	
		.level-5-borda {
			border: 1px solid #402686;
		}
	
		.level-6-borda {
			border: 1px solid #2d3a8a;
		}
	
		.level-7-borda {
			border: 1px solid #2967b0;
		}
	
		.level-8-borda {
			border: 1px solid #2967b0;
		}
	
		.level-9-borda {
			border: 1px solid #2a7bc2;
		}
	
		.level-10-borda {
			border: 1px solid #2a8acc;
		}
	
		.level-11-borda {
			border: 1px solid #3e9cb7;
		}
	
		.level-12-borda {
			border: 1px solid #53a18b;
		}
	
		.level-13-borda {
			border: 1px solid #68a761;
		}
	
		.level-14-borda {
			border: 1px solid #7cac35;
		}
	
		.level-15-borda {
			border: 1px solid #91b20a;
		}
	
		.level-16-borda {
			border: 1px solid #bdb700;
		}
	
		.level-17-borda {
			border: 1px solid #f0bc00;
		}
	
		.level-18-borda {
			border: 1px solid #f89a06;
		}
	
		.level-19-borda {
			border: 1px solid #f46e12;
		}
	
		.level-20-borda {
			border: 1px solid #eb2f2f;
		}
	
		.badge-huge {
			width: 50px !important;
			height: 50px !important;
			font-size: 20px !important;
			line-height: 50px !important;
			position: relative !important;
			top: 5px !important;
		}
	
		.level-value {
			position: absolute;
			z-index: 2;
			width: 100%;
			height: 100%;
			border-radius: 100%;
			left: 0;
			top: 0;
			background: transparent;
		}
	
		.reseted-level {
			&:after {
				content: '';
				display: block;
				width: calc(100% + 2px);
				height: calc(100% + 2px);
				border-radius: 100%;
				position: absolute;
				top: -1px;
				left: -1px;
			}
	
			.level-value {
				background: darken(#4D4757, 12%) !important;
			}
		}
	
		.level--1,
		.level--2,
		.level--3,
		.level--4,
		.level--5 {
			&:after {
				background-image: linear-gradient(-138deg, lighten(#4A3568, 25%) 6%, lighten(#3E0099, 25%) 100%) !important;
			}
		}
	
		.level--6,
		.level--7,
		.level--8,
		.level--9,
		.level--10 {
			&:after {
				background-image: linear-gradient(-138deg, #19456A 6%, #5398CD 100%) !important;
			}
		}
	
		.level--11,
		.level--12,
		.level--13,
		.level--14,
		.level--15 {
			&:after {
				background-image: linear-gradient(-138deg, #255400 6%, #5DC900 100%) !important;
			}
		}
	
		.level--16,
		.level--17,
		.level--18,
		.level--19,
		.level--20 {
			&:after {
				background-image: linear-gradient(-138deg, #D7A820 6%, #FF0500 100%) !important;
			}
		}
	
	.StatsBox *{box-sizing:border-box;-webkit-text-stroke:0;-moz-text-stroke:0;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
	.StatsBoxStatsList {display: grid;}
	.StatsBoxStatsList--Competitive .StatsBoxPlayerInfo{padding-left:16px;}
	.StatsBoxStatsList--Competitive .StatsBoxPlayerInfoItem__name{font-size:.625rem;}
	.StatsBoxStatsList--Competitive .StatsBoxPlayerInfoItem__value{font-size:1.625rem;margin-top:0;line-height:22px;}
	.StatsBoxPlayerInfo{display:flex;font-size:.75rem;align-items:center;padding-left:24px;}
	.StatsBoxPlayerInfoItem{height:100%;}
	.StatsBoxPlayerInfoItem__Content{height:100%;display:flex;flex-direction:column;justify-content:center;}
	.StatsBoxPlayerInfoItem__name{color:hsla(0,0%,100%,.5);text-transform:uppercase;font-weight:500;}
	.StatsBoxPlayerInfoItem__value{font-size:2rem;line-height:26px;font-family:Teko,sans-serif;margin-top:8px;}

	#kz{height:100px;width:100%;padding:25px 40px 10px;bottom:0;left:0;text-align:center;color:white;}

	#kz > a {
		text-decoration: none;
		color: #fff;
	}

	*{box-sizing:border-box;}
	@media all{
	*,::after,::before{box-sizing:border-box;}
	@media print{
	*,::after,::before{text-shadow:none!important;box-shadow:none!important;}
	}
	:disabled{pointer-events:none!important;}
	}
	::-webkit-scrollbar{width:0px;}
	/* ::-webkit-scrollbar-thumb{background:grey;} */
	/*! CSS Used from: Embedded */
	.logo1{padding:0 10px;color:#333;font-size:32px;font-family:'Comfortaa', Helvetica, sans-serif;cursor:default;}


