<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>mibr.Fallen | SEM BAN | Gamers Club - Ban Checker | Biqueirao.xyz</title>
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<link rel="shortcut icon" href="https://hackertyper.net/img/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Teko|Poppins|Comfortaa|Open+Sans" rel="stylesheet">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
	<!-- adsense lul -->
	<script data-ad-client="ca-pub-1348364283847032" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
	<div class="wrapper">
        <div class="container">
			<section class="section" id="mut" style="display: none;">
				<h1 class="title" style="color:#fff;">Pesquisa múltipla</h1>
				<p style="color: #7eb760;padding-bottom: 5px;margin-bottom: 0px !important;">Digite 'status' no console ao jogar (MM, FACEIT, outro) e cole o conteúdo abaixo!</p>
				<form method="post" action="{{ url_for('search_mult') }}">
					<textarea class="textarea" required name="content" style="width: 100%; height: 200px; color: gray;border-radius: 5px;" placeholdernl="# userid name uniqueid connected ping loss state rate
# 23 2 &quot;RANDOM NICK #1&quot; STEAM_1:0:14372359 04:43 69 0 active 786432
# 24 3 &quot;RANDOM NICK #2&quot; STEAM_1:0:93519764 04:41 86 0 active 786432
# 25 4 &quot;RANDOM NICK #3&quot; STEAM_1:1:41991239 04:38 76 0 active 786432
# 38 5 &quot;RANDOM NICK #4&quot; STEAM_1:1:112446396 03:37 94 0 active 786432
# 40 6 &quot;RANDOM NICK #5&quot; STEAM_1:0:37709745 03:03 60 0 active 786432
# 39 7 &quot;RANDOM NICK #6&quot; STEAM_1:1:92410050 03:33 78 0 active 786432
# 37 8 &quot;RANDOM NICK #7&quot; STEAM_1:0:58391317 03:56 67 0 active 786432
# 35 9 &quot;RANDOM NICK #8&quot; STEAM_1:0:37130163 04:08 93 0 active 786432
# 41 10 &quot;RANDOM NICK #9&quot; STEAM_1:0:81875618 01:06 64 0 active 786432
# 36 14 &quot;RANDOM NICK #10&quot; STEAM_1:0:39420559 04:08 48 0 active 786432
#end"># userid name uniqueid connected ping loss state rate
# 23 2 "RANDOM NICK #1" STEAM_1:0:14372359 04:43 69 0 active 786432
# 24 3 "RANDOM NICK #2" STEAM_1:0:93519764 04:41 86 0 active 786432
# 25 4 "RANDOM NICK #3" STEAM_1:1:41991239 04:38 76 0 active 786432
# 38 5 "RANDOM NICK #4" STEAM_1:1:112446396 03:37 94 0 active 786432
# 40 6 "RANDOM NICK #5" STEAM_1:0:37709745 03:03 60 0 active 786432
# 39 7 "RANDOM NICK #6" STEAM_1:1:92410050 03:33 78 0 active 786432
# 37 8 "RANDOM NICK #7" STEAM_1:0:58391317 03:56 67 0 active 786432
# 35 9 "RANDOM NICK #8" STEAM_1:0:37130163 04:08 93 0 active 786432
# 41 10 "RANDOM NICK #9" STEAM_1:0:81875618 01:06 64 0 active 786432
# 36 14 "RANDOM NICK #10" STEAM_1:0:39420559 04:08 48 0 active 786432
#end</textarea>
					<div class="actions"><input type="submit" class="button is-primary" value="Buscar!"></div>
				</form>
			</section>
			<section class="section" id="teste" style="display: block;">
				<form action="/" method="post" class="search-form form">
					<label>
						<input id="textbox" title="Você deve pesquisar por SteamID ou Steam URL." type="search" class="search-field" placeholder="Procure por SteamID ou Steam URL" name="url_busca"
							pattern="^https?://(?:www\.)?steamcommunity\.com/(id/([^/\s]*)|profiles/([^/\s]*))/?" required size=50/>
					</label>
					<input type="submit" id="fk" class="search-submit btn" value="&#xf002" />
				</form>
			</section>
			<a href="javascript:void(0)" id="change" style="color: #4CAF50;text-decoration: none;padding-top: 10px;">PESQUISAR MINHA PARTIDA</a>
			<div class="card-container animate-bottom">
				<span title="Estados Unidos" class="card-base-country" data-tip-text="Estados Unidos"><img src="https://gamersclub.com.br/assets/images/flags/lobby/us.png" alt="Estados Unidos"></span>
				<span class="pro">SEM BAN</span>
				<img class="round" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ac/ac6fd3610257492db106bc30892bf213aa4a0689_full.jpg" onerror="this.src = 'https://gamersclub.com.br/assets/images/profile-v2/default-user-profile.jpg'" alt="user" />
				<h3><a href='https://gamersclub.com.br/jogador/94' target="_blank" style="text-decoration: none;color: #fff;">mibr.FalleN</a></h3>
				<span class="new-badge new-level-20" style="
					background-image: url(https://gamersclub.com.br/assets/images/level/20.svg);
					background-repeat: no-repeat;
					background-position: center center;
					background-size: cover;">
				<div class="lvl-value">20</div>
				</span>
				<h6>Skill Level</h6>
				<div class="skills">
					{% if player_stats is not defined %}
					<h6 style="padding-left: 15px;text-align: center;">Estatísticas não estão disponíveis no momento.</h6>
					{% endif %}
					<div class="StatsBoxStatsList StatsBoxStatsList--Lasts" style="grid-area: span 2 / span 5 / auto / auto; grid-template-columns: repeat(4, 1fr);">
					{% for stats in player_stats %}
						<div class="StatsBoxPlayerInfo">
							<div class="StatsBoxPlayerInfoItem">
								<div class="StatsBoxPlayerInfoItem__Content">
									<div class="StatsBoxPlayerInfoItem__name">{{stats.stat}}</div>
									<div class="StatsBoxPlayerInfoItem__value">{{stats.value}}</div>
								</div>
							</div>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="kz" class="logo1"><a href="/profiles/76561198047241875/">kinz</a> & <a href="/profiles/76561198888066058/" >dex</a></div>
	<script>
		$ = jQuery;
		$(document).ready(function() {
				handleFocus = function(){
				var $this = $(this);
				if($this.val() === $this.attr('placeholdernl')){
					$this.val('');
					$this.css('color', '');
				}
			};

			handleBlur = function(){
				var $this = $(this);
				if($this.val() == ''){
					$this.val($this.attr('placeholdernl'))
					$this.css('color', 'gray');
				}    
			};

			$('textarea[placeholdernl]').each(function(){
				var $this = $(this),
					value = $this.val(),
					placeholder = $this.attr('placeholder');
				$this.attr('placeholdernl', value ? value : placeholder);
				$this.val('');
				$this.focus(handleFocus).blur(handleBlur).trigger('blur');
			});
		});

		history.pushState({}, null, "/profiles/76561197960690195/");

		$( '#change' ).click( function( ) {
			$(this).text((i, t) => t == 'PESQUISAR MINHA PARTIDA' ? 'PESQUISAR SÓ UM' : 'PESQUISAR MINHA PARTIDA');
			$('#mut, #teste, .card-container').toggle();
		});
	</script>
</body>
</html>