<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GamersClub BAN Checker</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<link rel="shortcut icon" href="https://hackertyper.net/img/favicon.ico">
	<!-- adsense lul -->
	<script data-ad-client="ca-pub-1348364283847032" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>
<body>
	<div class="wrapper">
        <div class="container">
			<form action="/" method="post" class="search-form form">
				<label>
					<input title="Você deve pesquisar por SteamID ou Steam URL." type="search" class="search-field" placeholder="Procure por SteamID ou Steam URL" name="url_busca"
						pattern="^https?://(?:www\.)?steamcommunity\.com/(id/([^/\s]*)|profiles/([^/\s]*))/?" required size="50"/>
				</label>
				<input type="submit" class="search-submit btn" value="&#xf002" />
			</form>
			{% if player is defined and erro_player == False %}
			<div class="card-container animate-bottom">
				<span title="{{ player.nome_pais }}" class="card-base-country" data-tip-text="{{ player.nome_pais }}"><img src="https://gamersclub.com.br/assets/images/flags/lobby/{{ player.codigo_pais }}"" alt="{{ player.nome_pais }}"></span>
				{% if player.isBanned == True %}
					{% if player.motivo_span == 0 %}
				<span class="racs"> BAN 🐵 </span>
					{% elif player.motivo_span == 2 %}
				<span class="pro"> VAC </span>
					{% elif player.motivo_span == 3 %}
				<span class="ban"> BAN AC </span>
					{% endif %}
				{% else %}
				<span class="pro">SEM BAN</span>
				{% endif %}

				<img class="round" src="{{ player.avatar }}" onerror="this.src = 'https://gamersclub.com.br/assets/images/profile-v2/default-user-profile.jpg'" alt="user" />
				{% if player.isBanned == True %}
				<h3><a href='https://gamersclub.com.br/jogador/{{ player.id }}' target="_blank" class="banido">{{ player.name }}</a></h3>
				
				
				
				
				
				{% else %}
				<h3><a href='https://gamersclub.com.br/jogador/{{ player.id }}' target="_blank" style="text-decoration: none;color: #fff;">{{ player.name }}</a></h3>
					{% if isAdmin %}
						<h6>SITE ADMIN</h6>
					{% endif %}
				{% endif %}
				<span class='numberCircle badge level-{{ player.lvl }}'>{{ player.lvl }}</span>
				<br>Nível<br>
				{% if player.isBanned == True %}
					{% if player.motivo_span != 2 %}
						<p>MEMBRO BANIDO NA GAMERS CLUB</p>
					{% set dia_do_ban = player.data_ban.split() %}
					<div class="buttons">
						<button class="primary">
							{{ dia_do_ban[0] }}
						</button>
						até 
						<button disabled class="primary ghost">
							{{ player.banido_ate }}
						</button>
					</div>
					<br>
				{% endif %}
				<span style="font-size: 15px;">{{ player.motivo }}</span>
				{% endif %}
				<div class="skills">
					<h6 style="padding-left: 15px;">Estatísticas não estão disponíveis no momento.</h6>
					<div class="StatsBoxStatsList StatsBoxStatsList--Competitive" style="grid-area: span 2 / span 5 / auto / auto; grid-template-columns: repeat(4, 1fr);">
						<div class="StatsBoxPlayerInfo">
						<div class="StatsBoxPlayerInfoItem">
							<div class="StatsBoxPlayerInfoItem__Content">
								<div class="StatsBoxPlayerInfoItem__name">KDR</div>
								<div class="StatsBoxPlayerInfoItem__value">0</div>
							</div>
						</div>
						</div>
						<div class="StatsBoxPlayerInfo">
						<div class="StatsBoxPlayerInfoItem">
							<div class="StatsBoxPlayerInfoItem__Content">
								<div class="StatsBoxPlayerInfoItem__name">ADR</div>
								<div class="StatsBoxPlayerInfoItem__value">0</div>
							</div>
						</div>
						</div>
						<div class="StatsBoxPlayerInfo">
						<div class="StatsBoxPlayerInfoItem">
							<div class="StatsBoxPlayerInfoItem__Content">
								<div class="StatsBoxPlayerInfoItem__name">Matou</div>
								<div class="StatsBoxPlayerInfoItem__value">0</div>
							</div>
						</div>
						</div>
						<div class="StatsBoxPlayerInfo">
						<div class="StatsBoxPlayerInfoItem">
							<div class="StatsBoxPlayerInfoItem__Content">
								<div class="StatsBoxPlayerInfoItem__name">Morreu</div>
								<div class="StatsBoxPlayerInfoItem__value">0</div>
							</div>
						</div>
						</div>
						<div class="StatsBoxPlayerInfo">
						<div class="StatsBoxPlayerInfoItem">
							<div class="StatsBoxPlayerInfoItem__Content">
								<div class="StatsBoxPlayerInfoItem__name">KAST%</div>
								<div class="StatsBoxPlayerInfoItem__value">0%</div>
							</div>
						</div>
						</div>
						<div class="StatsBoxPlayerInfo">
						<div class="StatsBoxPlayerInfoItem">
							<div class="StatsBoxPlayerInfoItem__Content">
								<div class="StatsBoxPlayerInfoItem__name">Multi Kills</div>
								<div class="StatsBoxPlayerInfoItem__value">0</div>
							</div>
						</div>
						</div>
						<div class="StatsBoxPlayerInfo">
						<div class="StatsBoxPlayerInfoItem">
							<div class="StatsBoxPlayerInfoItem__Content">
								<div class="StatsBoxPlayerInfoItem__name">First kills</div>
								<div class="StatsBoxPlayerInfoItem__value">0</div>
							</div>
						</div>
						</div>
						<div class="StatsBoxPlayerInfo">
						<div class="StatsBoxPlayerInfoItem">
							<div class="StatsBoxPlayerInfoItem__Content">
								<div class="StatsBoxPlayerInfoItem__name">Clutches</div>
								<div class="StatsBoxPlayerInfoItem__value">0</div>
							</div>
						</div>
						</div>
						<div class="StatsBoxPlayerInfo">
						<div class="StatsBoxPlayerInfoItem">
							<div class="StatsBoxPlayerInfoItem__Content">
								<div class="StatsBoxPlayerInfoItem__name">HS%</div>
								<div class="StatsBoxPlayerInfoItem__value">0%</div>
							</div>
						</div>
						</div>
						<div class="StatsBoxPlayerInfo">
						<div class="StatsBoxPlayerInfoItem">
							<div class="StatsBoxPlayerInfoItem__Content">
								<div class="StatsBoxPlayerInfoItem__name">Precisão%</div>
								<div class="StatsBoxPlayerInfoItem__value">0%</div>
							</div>
						</div>
						</div>
						<div class="StatsBoxPlayerInfo">
						<div class="StatsBoxPlayerInfoItem">
							<div class="StatsBoxPlayerInfoItem__Content">
								<div class="StatsBoxPlayerInfoItem__name">Bombas pla.</div>
								<div class="StatsBoxPlayerInfoItem__value">0</div>
							</div>
						</div>
						</div>
						<div class="StatsBoxPlayerInfo">
						<div class="StatsBoxPlayerInfoItem">
							<div class="StatsBoxPlayerInfoItem__Content">
								<div class="StatsBoxPlayerInfoItem__name">Bombas def.</div>
								<div class="StatsBoxPlayerInfoItem__value">0</div>
							</div>
						</div>
						</div>
					</div>
				</div>
			</div>
			{% else %}
			<h3><span>{{ player }}</span></h3>
			{% endif %}
		</div>
	</div>
	<div id="kz" class="logo1">kinz & dex.</div>
	<!-- <footer>
		<p>
			Created by
			<a target="_blank" href="https://steamcommunity.com/id/8RUNO1">KINZ</a>
			-
			<a target="_blank" href="https://steamcommunity.com/id/hypochondriac1">DEX</a>
		</p>
	</footer> -->
</body>
</html>